.card {

	background-color: #ffaaaa;
	border-radius: 0.5rem;
	box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
	padding-bottom: 1rem;
	background-image: linear-gradient(var(--card-gradient), white 20rem);
	overflow: hidden;
}

.card img {
	border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
	width: 100%;
	object-fit: cover;
	max-height: 30rem;
	aspect-ratio: 4/3;
	mix-blend-mode: var(--card-blend-mode);
}

.card img~* {
	margin-left: 1rem;
	margin-right: 1rem;
}

.card> :last-child {
	margin-bottom: 0;
}



/* Additional demo display styles */
* {
	box-sizing: border-box;
}

body {
	display: grid;
	place-content: center;
	justify-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 1rem;
	line-height: 1.5;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	color: black;
	background-color: #e1faf1;
}

.card h3 {
	margin-top: 1rem;
	font-size: 1.25rem;
}

.card a {
	color: inherit;
}

.card-wrapper {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30ch, 1ch));
	grid-gap: 1.5rem;
	max-width: 100vw;

}

.header {
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.favcat {
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.button1 {
	background-color: #cac7c7;
	border-radius: 20px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
	display: inline;

}

#heart {
	font-size: 25px;
}

#heart:hover {
	color: red;
}

.h_container {
	cursor: pointer;
	color: red;
}

.h_container > * {
	font-size: 1.5rem;
}

.h_container:hover {
	transform: scale(1.5);
}